{{> admin-navbar }}

<div class="container mt-4">
  <section id="conteudos">
    <h2 class="mb-4">Cadastro de Banner</h2>
    <form>
      <div class="mb-3">
        <label for="contentName" class="form-label">Nome do Banner</label>
        <input type="text" class="form-control" id="contentName" placeholder="Digite o nome do banner">
      </div>
      <div class="mb-3">
        <label for="contentImage" class="form-label">Título do Banner</label>
        <input type="file" class="form-control" id="contentImage">
      </div>
      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
  </section>
</div>

{{> admin-footer }}