<footer class="bg-dark text-white text-center py-3 mt-5">
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>

  <p>&copy; 2025 - Painel Admin. Todos os direitos reservados.</p>
</footer>