<header class="container py-4">
  <nav class="navbar bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand text-decoration-underline" style="color: crimson" href="#">
        <strong>Ecommerce Nest JS</strong>
        <img src="/public/nestJs.svg" alt="Bootstrap" width="30" height="24">
      </a>
    </div>
  </nav>
</header>