<header class="container py-4">
  <nav class="navbar bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#">
        Ecommerce Nest JS
        <img src="https://placehold.co/30x24" alt="Bootstrap" width="30" height="24">
      </a>
    </div>
  </nav>
</header>